@{
    ViewData["Title"] = "Sign Up";
}

<div>
    <form method="post">
        <label>Your Name:</label><br />
        <input type="text" name="Name"/><br />
        <label> Age:</label><br />
        <input type="number" name="Age" /><br /><br />
        <input type="submit" value="Sign up"/>
    </form>
</div>